body {
    overflow-x: hidden;
}

img {
    width: 100%;
    max-width: 200px;

    
}

body {
    background-image: url(images/movietime.jpeg);
    background-repeat: repeat;
}

p {
    color: white;
}

hr {
    background-color: white;
    width: 35%;
}

